.overflow-scrolling {
  overflow-x: scroll;
}

.image {
  border-radius: 6px;
  height: 18px;
  object-fit: cover;
  width: 30px;
}

.title {
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size: 15px;

}
